<div class="container-fluid hero">
  <div class="hero-text">
    <h1>Bienvenue sur Planty</h1>
    <p>Planty, votre solution simple pour louer des plantes</p>
    <a href="#" class="btn btn-primary mt-4">Entrez</a>
  </div>
</div>
