<div class="container-fluid hero" style="margin-top: 60px">
  <div class="hero-text">
    <h1>Bienvenue sur Planty</h1>
    <p>Planty, votre solution simple pour louer des plantes</p>
    <%= link_to 'Entrez', plants_path, class: 'btn btn-primary', type: 'button'%>
  </div>
</div>
