<div class="mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center">
    <nav class="navbar fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand">Planty</a>
        <div class="container-button">
          <button class="create-btn"> Créer une annonce </button>
          <button class="profil-btn"> Emoji bonhomme </button>
        </div>
    </nav>
  </div>
</div>

<div class="container-banner">
  <div class="banner">
      <nav class="searchbar d-flex justify-content-center align-items-center position-relative">
        <div class="input-wrapper position-relative">
          <input type="text" class="form-control" placeholder="Find the plant you need!">
          <button class="clear-btn" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); border: none; background: none;">x
          </button>
        </div>
      </nav>
    </div>
</div>
