<div class="mb-4 d-flex align items-center justify-content-center">
  <div class="text-center text-white">
    <nav class="navbar fixed-top bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">Planty</a>
    </div>
    </nav>
    <div class="container py-5">
      <nav class="navbar bg-body-tertiary d-flex justify-content-center">
            <input type="text" class="form-control" placeholder="Find the plant you need ! ">
            <button class="clear-btn" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); border: none; background: none;">x</button>
      </nav>
    </div>
  </div>
</div>
