.banner-filter {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.filter-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.filter-link:hover {
  color: rgb(209, 208, 208);
}

.filter-btn {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 45px;
  height: 45px;
  border: none;
  background-color: transparent;
  margin-bottom: 5px;
}

.filter-btn1 {
  background-image: url('./logo-searchbar1.png');
}

.filter-btn2 {
  background-image: url('./logo-searchbar2.png');
}

.filter-btn3 {
  background-image: url('./logo-searchbar3.png');
}

.filter-btn4 {
  background-image: url('./logo-searchbar4.png');
}

.filter-btn5 {
  background-image: url('./logo-searchbar5.png');
}

.filter-btn6 {
  background-image: url('./logo-searchbar6.png');
}

.filter-btn:focus {
  outline: none;
}

.filter-text {
  margin: 0;
  font-size: 12px;
}

.filter-bar {
  height: 3px;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.active-bar {
  background-color: rgb(125, 120, 120);
  border-radius: 40px;
  height: 3px;
}

.filter-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.filter-text {
  margin-bottom: 5px;
}
