.form-control {
  border: none;
  width: 800px;
  height: 55px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.search-bar .input-group-text {
  border: none;
  border-radius: 50px 0 0 50px;
}

.search-bar .input-group-text i {
  color: #ffffff;
}

.banner-plant {
  width: 500px;
}

.container-banner {
  background-image: url('./plants.jpg');
  background-size: cover;
  background-position: center;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar {
  width: 100%;
  max-width: 800px;
}
